# Unity folders
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/

# Asset bundles / builds
*.apk
*.aab
*.unitypackage
*.zip
*.rar

# Large textures (optional but recommended)
*.psd
*.tif

# Visual Studio / Rider
*.csproj
*.unityproj
*.sln
*.user
*.userprefs

# OS junk
.DS_Store
Thumbs.db

# Heavy Files
Assets/Terrain/Scenes/GameScene/NavMesh-Terrain.asset
Assets/Terrain/Terrain/Textures/Cliff_Mossy_E_BaseColor.tif
Assets/Terrain/Terrain/Textures/Cliff_Mossy_E_MaskMap.tif
Assets/Terrain/Terrain/Textures/Cliff_Mossy_E_Normal.tif
